<div class="row">
  <div class="col s3 hide-on-med-and-down" id="sidebar">
    <%= render partial: 'partials/userside', locals: { twitter: @twitter, tweet: @tweet } %>
  </div>
  <div class="col s12 m12 l9" id="timeline">
    <div class="row">
      <div class="" id="dashboard">
        <div style="margin-left:24px; margin-right:24px">
          <h2 class="fancy-font-caption center"> Your Timeline</h2>
          <div id="timeline">
            <% @twitter.home_timeline.each do |tweet| %>
              <div class="card" style="border: ridge">
                <div class="row" style="margin-left:24px; margin-top:6px">
                  <div class="col s1" style="margin-top:12px">
                    <img src="<%= tweet.user.profile_image_url %>"><br>
                  </div>
                  <div class="col s2" style="margin-top:12px">
                    <b><a href="<%= tweet.user.url%>" class="black-text"><%= tweet.user.screen_name %></a><br></b>
                  </div>
                <!-- </div> -->
                <!-- <div class="row" style="margin-left:24px; margin-top:6px"> -->
                  <div class="col s9" style="margin-top:10px">
                    <div class="row">
                      <div class="col s12">
                        <% if tweet.media.present?  %>
                          "<%= tweet.text %>"<br><br>
                          <img src="<%= tweet.media.first.media_url %>">
                          <% else %>
                          "<%= tweet.text %>"<br>
                          <% end %>
                      </div>
                    </div>
                      <div class="card-action">
                        <a href="#"> <%= "Favorites: #{tweet.favorites_count}" %>  </a>
                        <a href="<%= tweet_favorite_path(tweet: tweet.id) %>" data-method="post"> <i class="material-icons">thumb_up</i></a>
                      </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
