<div class="row">
  <div class="col s3" id="sidebar">
    <%= render partial: 'partials/userside', locals: { twitter: @twitter, tweet: @tweet } %>
  </div>
  <div class="col s9" id="timeline">
    <div class="row">
      <div class="" id="dashboard">
        <div style="margin-left:24px; margin-right:24px">
          <h2 class="fancy-font-caption center"> Your Timeline</h2>
          <div id="timeline">
            <% @twitter.home_timeline.each do |tweet| %>
              <div class="card" style="border: ridge">
                <div class="row" style="margin-left:24px; margin-top:6px">
                  <div class="col s1" style="">
                    <img src="<%= tweet.user.profile_image_url %>"><br>
                  </div>
                  <div class="col s2" style="margin-top:12px">
                    <b><%= tweet.user.screen_name %><br></b>
                  </div>
                <!-- </div> -->
                <!-- <div class="row" style="margin-left:24px; margin-top:6px"> -->
                  <div class="col s9" style="margin-top:10px">
                    <div class="row">
                      <div class="col s10">
                        <%= tweet.text %>
                      </div>
                      <div class="col s2">
                        <%= button_to "<3", tweet_favorite_path(tweet: tweet.id), method: :post, class: 'btn btn-small black dash-btn-big' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
